<div class="cover">
  <h2 class="encabezado">PRÓXIMO PARTIDO</h2>
  <div class="separador"></div>
  <div class="banderas">
    <div class="bandera" id="bandera1" #bandera1></div>
    <div class="bandera" id="bandera2" #bandera2></div>
  </div>
  <div class="paises">
    <div class="pais" id="pais1">{{abreviatura1}}</div>
    <div class="separador4"></div>
    <div class="pais" id="pais2">{{abreviatura2}}</div>
  </div>
  <div class="separador2"></div>
  <div class="hora-y-fecha">
    <div class="fecha">22 NOVIEMBRE</div>
    <div class="hora">
      07:00
    </div>
  </div>
  <div class="separador3"></div>
</div>
