<div class="fondo">
  <div class="login-box">
    <div class="titulo">Cambiar contraseña!</div>
  <form (ngSubmit)="enviar()">
    <div>
      <label for="nombre">Nueva Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="dto.password" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
      <label for="mail">Repetir nueva contraseña:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="dto.confirmPassword" [ngModelOptions]="{standalone: true}">
    </div>
    <input type="submit" value="Actualizar" class="submit">
  </form>
  <app-pelota></app-pelota>
  <ul class="errores" *ngIf="errores.length > 0">
    <li *ngFor="let error of errores">{{error}}</li>
  </ul>
  </div> 
</div>
